.btn{
    border-radius:50px;
    padding:5px;
    min-width: 120px;
    color:white;
    -webkit-appearance: none;
    cursor: pointer;
}
.btn:active,
.btn:focus{
    outline: none;
}
.btn_success{
    background-color:#2ecc71;
}

.btn_danger{
    background-color:#e74c3c;
}